::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #000036;
}
::-webkit-scrollbar {
  width: 12px;
  background-color: #000036;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #f47850;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
}
*,
::after,
::before {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
}

body {
  background-image: url(../public/mesh-gradient.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: larger;
  font-weight: 700;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  font-weight: 700;
}
.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s
    infinite;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
